.box{
    padding: 10px;
    background-color: #efefef;
    display: block;
    border-radius: 5px;
}
.box form p{
    padding: 2px;
}
.box form p label{
    width:120px;
    font-size:1em;
    font-weight: 300;
}
.box form p input{
    padding: 2px;
    border-radius:2px;
    border:1px solid #ccc;
    outline: none;
    
}